<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet/less" href="../styles/style.less">
  <link rel="stylesheet/less" href="./discussion.less">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <form class="discussion__form">
    <input
      class="discussion__input discussion__input-name"
      type="text"
      placeholder="Name"
    />
    <input
      class="discussion__input discussion__input-email"
      type="email"
      placeholder="E-mail"
    />
    <input
      class="discussion__input discussion__input-text"
      type="text"
      placeholder="Text"
    />
    <label class="discussion__field-checkbox">
      <input
        type='checkbox'
        value='valuable'
        id="email-notification"
      />
      <label for="email-notification"></label>
      <span>Send me an email notification</span>
    </label>
    <input class="discussion__btn add-btn" type="submit" value="Add" />
  </form>
  <div class="discussion__comments">
    <div class="comment">
      <div class="comment__img">
        <img src="https://placeimg.com/70/70/any" alt="user photo" />
      </div>
      <div class="comment__main">
        <div class="comment__text">
          Donec facilisis tortor ut augue nase skola byla vybudovana v klidne casti obce, do provozu
          byla predana v roce 1964. Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.
        </div>
        <div class="comment__main-footer">
          <div class="comment__main-info">
            <div class="comment__main-date">17.1.2016 01:56</div>
            <div class="comment__main-username">Olivia Wilde</div>
          </div>
          <button class="comment__main-link link_blue">Reply</button>
        </div>
      </div>
    </div>
    <div class="subcomment">
      <div class="comment__img">
        <img src="https://placeimg.com/73/73/any" alt="user photo" />
      </div>
      <div class="comment__main">
        <div class="comment__text">
          Nase skola byla vybudovana v klidne casti obce, do provozu
          byla predana v roce 1964. Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.
        </div>
        <div class="comment__main-footer">
          <div class="comment__main-info">
            <div class="comment__main-date">17.1.2016 01:56</div>
            <div class="comment__main-username">Olivia Wilde</div>
          </div>
          <button class="comment__main-link link_blue">Reply</button>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="comment__img">
        <img src="https://placeimg.com/77/77/any" alt="user photo" />
      </div>
      <div class="comment__main">
        <div class="comment__text">
          Nase skola byla vybudovana v klidne casti obce, do provozu
          byla predana v roce 1964. Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.
        </div>
        <div class="comment__main-footer">
          <div class="comment__main-info">
            <div class="comment__main-date">17.1.2016 01:56</div>
            <div class="comment__main-username">Olivia Wilde</div>
          </div>
          <button class="comment__main-link link_blue">Reply</button>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="comment__img">
        <img src="https://placeimg.com/79/79/any" alt="user photo" />
      </div>
      <div class="comment__main">
        <div class="comment__text">
          Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.
        </div>
        <div class="comment__main-footer">
          <div class="comment__main-info">
            <div class="comment__main-date">17.1.2016 01:56</div>
            <div class="comment__main-username">Olivia Wilde</div>
          </div>
          <button class="comment__main-link link_blue">Reply</button>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="comment__img">
        <img src="https://placeimg.com/70/70/any" alt="user photo" />
      </div>
      <div class="comment__main">
        <div class="comment__text">
          Nase skola byla vybudovana v klidne casti obce, do provozu
          byla predana v roce 1964. Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.Slavnostni kolaudace hlavni budovy probehla 1.2.1964.
          Dalsi casti se postupne dodelavaly.
        </div>
        <div class="comment__main-footer">
          <div class="comment__main-info">
            <div class="comment__main-date">17.1.2016 01:56</div>
            <div class="comment__main-username">Olivia Wilde</div>
          </div>
          <button class="comment__main-link link_blue">Reply</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../js/less.js"></script>
</html>